appdirs==1.4.2
BeautifulSoup==3.2.1
chardet==2.3.0
funcsigs==1.0.2
mock==2.0.0
nltk==3.2.2
numpy==1.12.0
oauthlib==2.0.1
packaging==16.8
pbr==2.0.0
protobuf==3.2.0
pyparsing==2.1.10
requests==2.13.0
requests-oauthlib==0.8.0
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sklearn==0.0
tensorflow==1.0.0
textblob==0.12.0
tweepy==3.5.0
tweet-preprocessor==0.5.0
twitter==1.17.1
Unidecode==0.4.20
